<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AI Food Detection</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <script defer src="{{ url_for('static', filename='script.js') }}"></script>
  </head>

  <body>
    <header>
      <h1>Malnutrition Monitoring Assistant</h1>
    </header>

    <main>
      <section class="upload-section">
        <form
          action="/predict"
          method="POST"
          enctype="multipart/form-data"
          id="uploadForm"
        >
          <div class="buttons">
            <label for="fileInput" class="btn">Upload your image</label>
            <input
              type="file"
              id="fileInput"
              name="image"
              accept="image/*"
              required
              hidden
            />

            <span class="or">or</span>

            <button type="button" class="btn" id="cameraBtn">
              Take your image
            </button>
          </div>

          <div class="preview-box" id="previewBox">
            <p>*Photo preview here*</p>
          </div>

          <button type="submit" id="analyzeBtn" class="analyze-btn">
            Analyze
          </button>
        </form>
      </section>

      <section id="nutritionBox" class="hidden">
        <h2>Nutritional Facts</h2>
        <div id="nutritionContent"></div>
      </section>
    </main>

    <footer>
      <p>
        Artificial Intelligence AOL Project: Malnutrition Monitoring Assistant
      </p>
    </footer>
  </body>
</html>
